
img {
    display: block;
            margin: 1pX auto; /* Centers the image horizontally and adds some vertical margin */
    
    border-radius: 50%; /* Makes the image round */
    width: 30%; /* Set the width to 25% of the original size */
    height: auto; /* Maintain the aspect ratio */
}
.container {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: px;
    background: rgba(255, 255, 255, 0.8); /* Slight transparency */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    max-width: 960px;
    margin: auto;
}
h1 {
    text-align:center;
    font-size: 3em;
    letter-spacing: .2em;
    padding-top: .5em;
    padding-bottom: .5em;
}

h2 {
    text-align:center;
    !text-indent:40px;
    font-size: 1.5em;
    padding-top: .2em;
    padding-bottom: .5em;
}
p{
    text-align:center;
    text-indent:px;
    font-size: 1.1em;
    #padding-bottom: .5em; 
}
h3 {
    text-align:left;
    font-size: 1.2em;
}
h4 {
    text-align:left;
    text-indent:40px;
    font-size: 1.1em;
    !padding-bottom: .1em;
}

h5 {
    color:#098a9b ;
    text-align:center;
    #text-indent:40px;
    font-size: 1.2em;
    #padding-bottom: em;
}



    main { 
        display: grid;
        grid-template-columns: 40% 60%;
        margin-top: 3em;
    }
    header {
        text-align: center;
        margin: auto 2em;
    }

    section {
        margin: auto 1em 4em 2em;
    }
    
    i {
        margin-right: .5em;
    }
    
    p {
        margin: .2em auto
    }
    
    hr {
        border: none;
        background-color: lightgray;
        height: 1px;
    }
    
    h1, h2, h3 {
        font-weight: 100;
        margin-bottom: 0;
    }
    #mainLeft {
        border-right: 1px solid lightgray;
    }
    form {
        max-width: px;
        margin: auto;
        padding: 20px;
        border: px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
    }
    
    label {
        display: block;
        margin-bottom: 6px;
        
    }
    
    input, select, button {
        width: 95%;
        padding: 8px;
        margin-bottom: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-family: calibri, sans-serif;
    }
    
    button {
        background-color: #4c93af;
        color: rgb(255, 255, 255);
        border: none;
    }
    
    button:hover {
        background-color: #4556a0;
    }